.crawler-item {
  display: flex;
  flex-direction: row;
  padding: 18px;
  border-radius: 4px;
  cursor: pointer;

  .crawler-info {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
  }
    .crawler-name {
      font-family: "ggsans-medium";
      color: #111;
    }

    .crawler-name--dark {
      font-family: "ggsans-medium";
      color: #fff;
    }

    .crawler-date {
      font-family: "ggsans-reg";
      font-size: 12px;
      color:  #C2C1C2;
    }
}

.crawler-item--dark {
  background-color: #360568;
  box-shadow: 2px 5px 12px 0px rgba(54,5,104,0.32);
}