@import "../colors.scss";

.crawler-list {
  height: 100vh;
  width: 280px;
  border-right: 1px solid $border;
  background-color: $bg-light;

  .footer {
    position: absolute;
    bottom: 2px;
    width: inherit;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    border-top: 1px solid $border;
  }

  .list-head {
    display: flex;
    flex-direction: column;
    margin: 18px 18px 0;
    padding: 8px;
    border-bottom: 1px solid $border;
    height: 100px;

    .headline {
      font-family: 'ggsans-bold';
      font-size: 18px;
      color: $black;
    }

    .search-box {
      margin: 8px 0;
    }
  }

  .list-body {
    height: calc(100vh - 100px - 110px - 18px);
    padding: 18px 8px;
    overflow-y: auto;
  }

  .list-warning {
    font-family: 'ggsans-medium';
    color: $tx-light;
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }
}

.crawler-item {
  display: flex;
  flex-direction: row;
  padding: 18px;
  border-radius: 6px;
  cursor: pointer;

  .crawler-info {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
  }
  
  .crawler-name {
    font-family: "ggsans-medium";
    color: $black;
  }

  .crawler-name--dark {
    font-family: "ggsans-medium";
    color: $white;
  }

  .crawler-date {
    font-family: "ggsans-reg";
    font-size: 12px;
    color:  $tx-light;
  }

  .menu-dropdown {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.crawler-item--dark {
  background-color: $primary;
  box-shadow: 2px 5px 12px 0px $shadow-primary;
}

.icon-dropdown {
  color: $white;
}