@import "../../colors.scss";

.extract {
.extract-row {
  position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
    padding: 12px 42px 4px 24px;
    border-radius: 0 12px 12px 0;
    border: 1px solid $border;
    border-left: 3px solid $primary;
    background: $bg-light;

  .extract--input-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    .extract--label {
      margin-bottom: auto;
      margin-top: auto;
      min-width: 60px;
      max-width: 60px;
      font-size: 12px;
      color: $tx-light;
      font-weight: bold;
    }
  }

  .extract--delete {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 50px;
    width: 40px;
    border-radius: 50px 0 0 50px;
    margin: auto;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .icon-style {
    color: $white;
    text-align: center;
    padding-left: 6px;
  }
}
}