.side-nav {
  background-color: #E0E0E2;
  height: 100vh;
  width: min-content;

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
  }
}