$primary: #262626;
$shadow-primary:  #26262615;
$accent: #f26b3a;
$bg-light: #fafafa;
$tx-light: #9b9b9b;
$tx-dark: #525252;
$black: #111;
$white: #fff; 
$border: #e6e6e6;
$backdrop: rgba(0, 0, 0, 0.035);
$button-text: #fff;